@model Project.UI.Models.ProductListViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Admin Panel";
    ViewData["Username"] = @Model.User.UserName;
    ViewData["Role"] = @Model.User.Role;
    ViewData["Models"] = @Model.Models;
    ViewData["Materials"] = @Model.Materials;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

 
<div class="banner-section section-top-gap-100" style="margin:auto !important; width: 70%;">
    <div class="banner-wrapper clearfix">

            <div style="margin: 20px !important;" class="banner-single-item banner-style-4 banner-animation banner-color--green float-left aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img style="height:200px !important;" class="img-fluid" src="~/images/products.png" alt="">
                </div>
                <a asp-action="Product" asp-controller="Admin" class="content">
                    <div class="inner">
                        <h4 class="title">Products</h4>
                    </div>
                    <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
                </a>
            </div>
            
            <div style="margin: 20px !important;" class="banner-single-item banner-style-4 banner-animation banner-color--green float-left aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img style="height:200px !important;" class="img-fluid" src="~/images/models.png" alt="">
                </div>
                <a asp-action="Model" asp-controller="Admin" class="content">
                    <div class="inner">
                        <h4 class="title">Models</h4>
                    </div>
                    <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
                </a>
            </div>
            
            <div style="margin: 20px !important;" class="banner-single-item banner-style-4 banner-animation banner-color--green float-left aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img style="height:200px !important;" class="img-fluid" src="~/images/materials.jpg" alt="">
                </div>
                <a asp-action="Material" asp-controller="Admin" class="content">
                    <div class="inner">
                        <h4 class="title">Materials</h4>
                    </div>
                    <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
                </a>
            </div>
            
            <div style="margin: 20px !important;" class="banner-single-item banner-style-4 banner-animation banner-color--green float-left aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img style="height:200px !important;" class="img-fluid" src="~/images/orders.jpg" alt="">
                </div>
                <a asp-action="Orders" asp-controller="Admin" class="content">
                    <div class="inner">
                        <h4 class="title">Orders</h4>
                    </div>
                    <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
                </a>
            </div>
    </div>
</div>

